<div class="container spaces-containers">
  <h4>Entreprises</h4>

 <% @entreprises.each do |entreprise|  %>
    <%= entreprise.nom %>
    <%= entreprise.jour_debut %>

    <%= link_to "Détail", entreprise_path(entreprise) %>
  <% end  %>

  <div>
    <%= link_to "Ajouter une entreprise", new_entreprise_path %>
  </div>

  <div>
  <%= link_to "Retour", root_path %>
  </div>
</div>
