<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4>Mes réservations</h4>
        <% @reservations.each do |reservation| %>
        <div class="card-activite">
          <div><%= reservation.activite.nom %></div>
          <div><%= reservation.activite.description %></div>
          <div><%= reservation.activite.address %></div>
          <div><%= reservation.date_debut %></div>
          <div><%= reservation.date_fin %></div>
          <div><%= reservation.heure_debut %></div>
          <div><%= reservation.heure_fin %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
