<h4>Activites</h4>

 <%= form_tag activites_path, method: :get do %>
      <%= text_field_tag :query,
                          params[:query],
                          class: "form-control",
             placeholder: "Trouver une activité"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

  <div>
    <p class="adresse"><i class="fas fa-map-marked-alt p-1"></i>Se situe</p>
  <div id="map" style="width: 100%; height: 300px;"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>"
    data-markers = "<%= @markers.to_json %>"
     ></div>
  </div>

 <% @activites.each do |activite|  %>
    <%= activite.entreprise.nom %>
    <%= activite.description %>
    <%= activite.jour %>
    <%= link_to "Détail", activite_path(activite) %>
  <% end  %>

  <div>
    <%= link_to "Ajouter une activité", new_activite_path %>
  </div>

  <div>
  <%= link_to "Retour", root_path %>
  </div>
