<div class="d-block">

  <div>
    <div class="banner-content-activites">

      <div class="d-flex justify-content-around">
        <div>
          <div class="pt-5 titre-activites">Découvrez toutes les activites autour de vous ! </div>

          <div class="champ-recherche mt-5">
            <%= form_tag activites_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                  placeholder: " Trouver une activité"
              %>
              <%= submit_tag "Rechercher", class: "button" %>
            <% end %>
          </div>
        </div>

        <div class="ml-3 rounded-circle" id="map" style="width: 220px; height: 220px;"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>"
          data-markers = "<%= @markers.to_json %>"
        ></div>
      </div>

    </div>
  </div>

  <div>


  <div class="new-acti">Nouvelles activités</div>

    <div class="thecards">

      <% @activites.each do |activite|  %>

        <div class="card">

          <% activite.photos.each do |photo| %>
          <%= cl_image_tag photo.key, class: "card" %>
          <% end %>

        <div class="container-card-activite pt-5">
          <div style="color: white"><%= activite.entreprise.nom %></div>
            <%= link_to activite_path(activite) do %>
              <div style="color: white"><%= activite.nom %></div>
            <% end %>
        </div>

    </div>
      <% end %>

  </div>
</div>



