
<div class="banner-content-activites">
    <div class="ml-4 pt-5 titre-activites">Découvrez toutes les activites autour de vous ! </div>
    <div class="ml-4 mt-5">
      <%= form_tag activites_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
            placeholder: " Trouver une activité"
        %>
        <%= submit_tag "Rechercher", class: "button" %>
      <% end %>
    </div>
</div>



<div class="spaces-containers container">

<div class="ml-3" id="map" style="width: 300px; height: 300px;"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>"
      data-markers = "<%= @markers.to_json %>"
    ></div>

  <div class="mb-2 mt-2">
    <h4>Nouvelles activités à découvrir</h4>
  </div>

  <div class="d-flex justify-content-between">
    <% @activites.each do |activite|  %>

        <div class="card-activite">
          <% activite.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 150, width: 210, crop: :fill %>
          <% end %>

          <div class="ml-2">
            <div class="font-weight-bold nom-entreprise"><%= activite.entreprise.nom %></div>
            <div><%= activite.nom %></div>
            <div><%= link_to "Détail", activite_path(activite) %></div>
          </div>

        </div>
        <% end %>
    </div>

  <div class="d-block mt-3">
    <div><%= link_to "Ajouter une activité", new_activite_path %></div>
    <div><%= link_to "Retour", root_path %></div>
  </div>
</div>
