<div class="spaces-containers container">

  <div class="row">
    <div class="col-lg-12">
      <h4>Toutes les activites autour de vous ! </h4>

      <div>
        <div id="map" style="width: 100%; height: 300px;"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>"
          data-markers = "<%= @markers.to_json %>"
        ></div>
      </div>

           <div class="mb-2">
        <%= form_tag activites_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
              placeholder: " Trouver une activité"
          %>
          <%= submit_tag "Rechercher", class: "" %>
        <% end %>
      </div>

      <div class="mb-2 mt-2">
        <h4>Nouvelles activités à découvrir</h4>
      </div>


        <% @activites.each do |activite|  %>

      <div class="card-activite">
        <div class="d-flex">
          <% activite.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill %>
          <% end %>

          <div class="ml-2">
            <div class="d-block">
            <div><%= activite.entreprise.nom %></div>
            <div><%= activite.nom %></div>
            <div><%= activite.address %></div>
            <div><%= link_to "Détail", activite_path(activite) %></div>
            </div>
            </div>
        </div>
      </div>
    <% end %>

    </div>
  </div>


      <div>
        <div>
          <%= link_to "Ajouter une activité", new_activite_path %>
        </div>

        <div>
        <%= link_to "Retour", root_path %>
        </div>
      </div>

</div>
