<div class="container">

  <% if @activite.photos != [] %>
    <% @activite.photos.each do |photo| %>
    <p><%= cl_image_tag photo.key, height: 300, width: 340, crop: :fill %></p>
    <% end %>
  <% end %>

  <%= @activite.nom %>
  <%= @activite.heure %>
  description: <%= @activite.description %>
  address: <%= @activite.address %>
  jour:<%= @activite.jour %>
  <%= @activite.categorie %>
  <%= @activite.type_activite %>
  <%= @activite.prix %>
  <%= @activite.formule %>


<div class="container">
  <div class="form-wrapper">
    <h4> Réserver votre cours </h4>
      <%= simple_form_for([@activite, @reservation]) do |f| %>
      <%= f.input :date_debut, label: "Sélectionnez vos dates:", as: :string, required: false, input_html: {id: "range_start", class: "d-none"} %>
      <%= f.input :date_fin, label: false,  as: :string, required: false, input_html: {id: "range_end", class: "d-none"} %>
      <%= f.input :heure_debut  %>
      <%= f.input :heure_fin  %>
      <%= f.submit "Réservez", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>

  <div
  id="reservation-form-div"
  data-reservations="<%= @reservations_dates.to_json %>"
>


  <div class="ml-2">
    <%= link_to 'Modifier', edit_activite_path %>
  </div>
    <div class="ml-2">
    <%= link_to "Supprimer", activite_path, method: :delete, class:"text-dark" %>
  </div>

  <div>
    <%= link_to 'Retour', activites_path(@activite) %>
  </div>

</div>

