<%= @activite.nom %>
<%= @activite.heure %>
<%= @activite.description %>
<%= @activite.adresse %>
<%= @activite.jour %>
<%= @activite.categorie %>
<%= @activite.type_activite %>
<%= @activite.prix %>
<%= @activite.formule %>

  <h4 class="address"></h4>
  <div id="map" style="width: 100%; height: 600px;"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>"
    data-markers = "<%= @markers.to_json %>"
  > </div>

<h4> Réserver votre cours </h4>
  <%= simple_form_for([@activite, @reservation]) do |f| %>
  <%= f.input :activite_id %>
  <%= f.input :date_debut %>
  <%= f.input :date_fin  %>
  <%= f.input :heure_debut  %>
  <%= f.input :heure_fin  %>
  <%= f.submit "Réservez", class: "btn btn-primary" %>
  <% end %>

  <div class="ml-2">
    <%= link_to 'Modifier', edit_activite_path %>
  </div>
    <div class="ml-2">
    <%= link_to "Supprimer", activite_path, method: :delete, class:"text-dark" %>
  </div>
</div>

  <div>
    <%= link_to 'Retour', activites_path(@activite) %>
  </div>

